<%- include('partials/header'); %>

<div id="top" class="profile d-flex flex-column flex-grow-1">
  <nav class="navbar py-4">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="60">
    </a>
    <a href="/channels">
      <button class="btn btn-warning" type="submit">Channels</button>
      </a>
    <a href="/">
      <button class="btn btn-primary" type="submit">Logout</button>
    </a>
  </nav>

  <div class="d-flex flex-grow-1 flex-column text-light">
    <h3 class="settingsbox mx-3 mt-3">My Profile</h3>
    <div class="profileBox flex-grow-1 mx-3 mb-3">
      <form action="/account" method="post" enctype="multipart/form-data">
        <% if (locals.errors && locals.errors.profile) { %>
          <% locals.errors.profile.forEach(function(error) { %>
            <p class="settingsbox alert alert-warning mb-4 w-100" role="alert"><%= error %></p>
          <% }) %>
        <% } %>
        <div class="settingsbox d-flex flex-column-reverse flex-md-row align-items-center justify-content-center">
          <div class="w-100">
            <h5>Username</h5>
            <input class="form-control mb-2" type="text" name="displayName" value="<%= locals.user.displayName %>" placeholder="">
            <h5>Email</h5>
            <input class="form-control mb-2" type="email" name="email" value="<%= locals.user.email %>" placeholder="">
            <button class="btn btn-primary mt-3" type="submit">Update</button>
          </div>

          <div id="avatar-container" class="d-flex flex-column align-items-center">
            <div alt="Avatar" id="avatar"></div>
            <input id="avatarupload" type="file" name="avatar" class="d-none" onChange="loadFile(event)">
            <label class="btn btn-secondary rounded-pill mt-n3 mb-0" for="avatarupload" id="avatarLabel">
              <span class="fas fa-plus"></span>
            </label>
          </div>
        </div>
      </form>

      <form action="/password" method="post" class="mt-5">
        <% if (locals.errors && locals.errors.password) { %>
          <% locals.errors.password.forEach(function(error) { %>
            <p class="settingsbox alert alert-warning mb-4 w-100" role="alert"><%= error %></p>
          <% }) %>
        <% } %>
        <div class="settingsbox d-flex">
          <div class="w-100">
            <h5>New Password</h5>
            <input class="form-control mb-2" type="password" name="password">
            <h5>Confirm New Password</h5>
            <input class="form-control mb-2" type="password" name="passwordConfirm">
            <button class="btn btn-warning mt-3" type="submit">Update Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer'); %>
