<%- include('partials/header'); %>
<%- include('partials/nav'); %>
<%
var channels = locals.channels
var owned = ("owned" in  channels) ? channels.owned : false
var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
%>



<div class="d-flex flex-grow-1 flex-column text-light">
  <h3 class="settingsbox mx-3 mt-3">Channels</h3>
  <div class="profileBox flex-grow-1 mx-3 mb-3">

    <div class="settingsbox d-flex flex-column-reverse flex-md-row align-items-left justify-content-center">
      <div class="w-100">
        <div id="owned-channels" class="user-channels text-light">
          <% if (owned) { %>
            <h4 class="mt-3">My Channels</h4>
            <div class="channel-scroll">
              <% owned.forEach(function(channel) { %>
                <div class="h6 mx-2 my-2">
                  <% if (channel.image) { %>
                    <img class="rounded" src="<%= channel.image %>" height="50" width="50">
                  <% } else { %>
                    <img class="rounded" src="/images/channel.svg" height="50" width="50">
                  <% } %>
                  <a class="ml-2" href="/channel/<%= channel.id %>/"><%= channel.name %></a>
                  <a class="text-danger ml-2" href="/channels/delete/<%= channel.id %>/">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              <% }) %>
            </div>
          <% }  %>
        </div>
        <div id="subscribed-channels" class="text-light mb-2" >
          <% if (subscribed) { %>
            <h4 class="mt-3">Subscribed Channels</h4>
            <ul>
              <% subscribed.forEach(function(channel) { %>
                <li>
                  <img src="<%= channel.image %>" alt="<%= channel.name %>">
                  <a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
                </li>
              <% }) %>
            </ul>
          <% } %>
        </div>


        <h4 class="mt-3">Create New Channel</h4>
        <div class="createForm d-flex flex-md-row">
          <% var users = locals.channels.users %>
          <form id="channel-create-form" class="w-100" action="/channels/add" method="post" enctype="multipart/form-data">
            <input type="text" class="form-control" name="name" placeholder="Channel name..." value="">
            <div class="avatarUpload d-flex mt-2">
              <input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
              <h6>Channel Image</h6>
              <label class="btn btn-secondary rounded-pill" for="avatar-upload" id="avatarChannels">
                <span class="fas fa-plus"></span>
              </label>
            </div>

            <div class="users mt-2">
              <h5>Add Users...</h5>
              <% if (users) { %>
                <div class="user-scroll mb-3">
                  <% users.forEach(function(user) { %>
                    <div>
                      <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
                      <%= user.name %>
                    </div>
                  <% }) %>
                </div>
              <% } %>
            </div>

            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

